.cart_title {
  background-color: #fff;
  color: #262626;
  font-size: 15px;
  font-weight: 700;
  padding-left: 7px;
  position: relative;
  z-index: 1;
  &::before {
    background-image: linear-gradient(180deg, #f5503a, #fad1cb);
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    font-size: 13px;
  }
}
.anchor{
  width: 1px;
  height: 1px;
  // opacity: 0;
  position:relative;
  top: -50px;
}
