
.index{
  padding: 0 30px;
}

.list-item{
  display: flex;
  align-items: flex-end;
}

.title{
  display: block;
  margin: 20px 0;
  font-weight: 600;
}
.title .nihao {
  color: red;
}
.btn{
  display: block;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}
