page,:root{
    --nut-calendar-primary-color: green;
    --nut-calendar-choose-color: var(--nut-active-color);
    --nut-calendar-choose-font-color: var(--nut-primary-color);
    --nut-calendar-base-color: #333333;
    --nut-calendar-disable-color: #d1d0d0;
    --nut-calendar-base-font: var(--nut-font-size-3);
    --nut-calendar-title-font: var(--nut-font-size-4);
    --nut-calendar-title-font-weight: 500;
    --nut-calendar-sub-title-font: var(--nut-font-size-2);
    --nut-calendar-text-font: var(--nut-font-size-1);
    --nut-calendar-day-font: 16px;
    --nut-calendar-day-active-border-radius: 0px;
    --nut-calendar-day-width: 14.28%;
    --nut-calendar-day-height: 64px;
    --nut-calendar-day-font-weight: 500;
    --nut-calendar-day67-font-color: var(--nut-primary-color);
    --nut-calendar-month-title-font-size: inherit;
  }