@font-face {
  font-family: "iconfont"; /* Project id 990955 */
  src: url('iconfont.woff2?t=1626154946193') format('woff2'),
       url('iconfont.woff?t=1626154946193') format('woff'),
       url('iconfont.ttf?t=1626154946193') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mianji:before {
  content: "\e600";
}

.icon-shanchu:before {
  content: "\e623";
}

.icon-ditu:before {
  content: "\e648";
}

.icon-pencircle:before {
  content: "\e627";
}

.icon-icon-bianxing:before {
  content: "\e611";
}

.icon-37:before {
  content: "\e67a";
}

.icon-erji-anquantaishi:before {
  content: "\eaac";
}

.icon-celiang:before {
  content: "\e654";
}

.icon-xiansuo:before {
  content: "\e63f";
}

.icon-juliceliang:before {
  content: "\e604";
}

