h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #909ca4;
  padding: 0 10px;
  font-weight: 400;
}

#app {
  min-height: 100vh;
  background: #f7f8fa;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 57px 17px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nut-icon {
  width: 16px;
}